{% extends "layout.html" %}


{% block title %}

Titulo de guay

{% endblock %}



{% block body %}

<h1 class="display-4 title text-center mt-4">hola</h1>
<div class="row">
    <div class="col-md-4 offset-md-4 my-auto">
        <div class="card">
            <div class="card-header">
                <h2>Nueva tarea</h2>
                <form action="/create-task" method="post">
                    <div class="form-group">
                        <input class="form-control" type="text" name="tarea" id="tarea" placeholder="Tarea" autofocus>
                    </div>
                    <button type="submit" class="btn btn-danger btn-block">Dale</button>
                </form>
            </div>
            <div class="card-body">
                <h2>Listado de tareas</h2>
                <ul class="list-group">
                    {% for t in tareas %}
                    <li class="list-group-item {% if t.done %} done {% endif %}">
                        <a href="{{url_for('update', id=t.id)}}">{{ t.tarea }}</a>
                        <a class="btn btn-success float-right" href="{{url_for('delete', id=t.id)}}">Borrar</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}