{% extends "layout.html" %}


{% block title %}

Principal

{% endblock %}



{% block body %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{url_for('main')}}">LibraKos</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <span class="nav-link disabled" >Hola {{user_email}}</span>
            </li>
            
            <li class="nav-item active">
                <a class="nav-link" href="{{url_for('logout')}}">Cerrar sesión <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="{{url_for('main')}}" method="POST">
            <input class="form-control mr-sm-2" type="search" name="query" autofocus placeholder="Buscar libros por título, autor o isbn" aria-label="Search" value={{filtro}}>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
        </form>
    </div>
</nav>

<h1 class="title text-center mt-6">Detalle del libro</h1>
<div class="row">
    <div class="col-md-12  my-auto">
        <div class="card">
            <div class="card-header">
                <h3><b>Titulo:</b> {{libro.titulo}}</h3>
                <h3><b>Autor:</b> {{libro.autor}}</h3>
                <h3><b>Año de lanzamiento:</b> {{libro.anyo}}</h3>
                {% if goodreads.average_rating != "" %}
                <h2>GoodReads AVG Rating: {{goodreads.average_rating}}</h2>
                <h2>GoodReads Rating Count: {{goodreads.ratings_count}}</h2>
                {% endif %}
            </div>
            <div class="card-body">                
                <ul class="list-group">
                    {% if comentarios|length == 0 %}
                    <li class="list-group-item mb-4">
                        <span class="titulo_libro">No hay comentarios todavía.</span>                        
                    </li>   
                    {% endif %}

                    <form class="form-group" action="{{url_for('insert_comment')}}" method="POST">
                        <input type="hidden" name="isbn" value="{{libro.isbn}}">
                        Puntuación:
                        <select class="form-control mb-2" name="puntuacion">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3" selected>3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                          </select> 
                        Comentarios:
                        <textarea class="form-control mb-2" name="comentario" id="" cols="30" rows="10"></textarea>
                        <input class="btn btn-primary" type="submit" value="Crear comentario">
                        
                    </form>
                    
                    {% for comentario in comentarios %}
                    <li class="list-group-item mb-4">
                        <span class="titulo_libro">By {{comentario.email}}, Puntos: ({{comentario.puntuacion}})<br>{{ comentario.comentario }} </span>                        
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}